{% extends 'dona/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% if user.is_authenticated and user.is_donor%}

<div class="container">
    <h1>donation drive info</h1>
        {% for drive in drives %}
<p>Location :  <span>{{drive.location}}</span></p>
<p>Start :  <span>{{drive.starts_at}}</span></p>
<p>End  :  <span>{{drive.ends_at}}</span></p>
    {% endfor %}
</div>
<div class="container">
    <h1>profile info</h1>
        {% for profile in profiles %}
        {{profile.user.username}}
        {{profile.user.gender}}
        {{profile.user.blood_type}}
    {% endfor %}
</div>
<p>it works donor</p>
{% elif user.is_authenticated and user.is_bbank %}
<div class="container">
    <h1>profile info</h1>
        {% for profile in profiles %}
        {{profile.user.username}}
        {{profile.user.location}}
    {% endfor %}
</div>
<p>shit works bbank</p>

<a href="{% url 'donation' %}"><button class="btn btn-outline-info">post drive</button></a>
{% else %}
<p>shit aint working</p>
{% endif %}


{% endblock %}
