{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="jumbotron jumbotron-fluid" id="bage">

  {% comment %} <div class="transbox">
   <div class="w3-panel w3-leftbar w3-light-grey">
   <p class="w3-xlarge w3-serif"><i>“Heroes come in all types & sizes be the Hero”</i></p>
   <h5>By boonfills Blood</h5>
   </div>
 </div> {% endcomment %}
</div>
 <div class="downArrow bounce">
   <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
 </div>
<div class="container">
        <div class="row">
        <div class="col-md-4">
            <img class="img align-self-center" src="static/images/drop.jpg" alt="Thumbnail image">
        </div>
        <div class="col-md-8" id="needer">
            <h2> Why should I donate blood ? </h2>
            <hr>
          <div class="right-arrow"></div> <p> Without our voluntary blood donations we cannot demand blood from hospitals. Every ten minutes someone in Kenya needs a blood transfusion. </p>
            <div class="right-arrow"></div><p> Your donation makes a real difference and can save several lives for example, as little as three teaspoonfuls of your blood can save the life of a premature baby. </p>
        </div>
        </div>
    </div>
<div class="jumbotron jumbotron-fluid" id="cont">
  <div class="container">
    <div class="row">
  <div class="col-md-4">
<img src="static/images/icon.png" alt="hosi"></div>
  <div class="col-md-4">
<img src="static/images/dd1.png" alt="hihosi"></div>
  <div class="col-md-4">
<img src="static/images/cros.jpeg" alt="hihosi1"></div>

</div>
</div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-5">
  <h4>CONTACT US</h4>
  <img src="static/images/mapi.jpg" alt="mapi">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="#" class="fa fa-instagram"></a>
  </div>
<div class="col-md-3">
<h4>Head Office</h4>
<p>Located at Nairobi Public Health Laboratories Service(NPHLS)</p>
<p>grounds in Kenyatta National Hospital</p>
<p>P.O.Box 29804-00202 </p>
<p>Telephone:0716 773904 </p>
<p>Email:info@nbtskenya.or.ke</p>
<p>Website:http://www.nbtskenya.or.ke</p>
<h4>EMBU RBTC</h4>
<p>Located along Embu-Meru Road next to Embu Provincial General Hospital</p>
<p>Telephone:0716 775232 </p>
<p>Email:emburbtcnbtskenya.or.ke</p>
<h4>Nakuru RBTC</h4>
<p>Located along kbarak road next to Nakuru General Hospital</p>
<p>Telephone:0716 773916 </p>
<p>Email:nakururbtc@nbtskenya.or.ke</p>

</div>

<div class="col-md-3">
<h4>Eldoret RBTC</h4>
<p>Located along Nandi Road next to Moi Teaching and Referral Hospital</p>
<p>Telephone:0716 775229</p>
<p>Email:eldoretrbtc@nbtskenya.or.ke</p>
<h4>Kisumu RBTC</h4>
<p>Located along Kakamega Road next to Kisumu General Provincial Hospital</p>
<p>Telephone:0716 773933 </p>
<p>Email:kisumurbtc@nbtskenya.or.ke</p>
<h4>Mombasa RBTC</h4>
<p>Located along Mzizima Road next to Coast Provincial Hospital</p>
<p>Telephone:0716 773934 </p>
<p>Email:mombasabtc@nbtskenya.or.ke</p>
<h4>SATELLITE CENTERS</h4>
<p>Located at Nairobi Public Health Laboratories Service(NPHLS)</p>
<p>grounds in Kenyatta National Hospital</p>
<p>P.O.Box 29804-00202 </p>
<p>Email:info@nbtskenya.or.ke</p>
<p>Website:http://www.nbtskenya.or.ke</p>
</div>
</div>


</div>
{% endblock %}
