{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid" id="icon">
  <div class="row">
   <div class="col-md-4">
     <a href="https://allafrica.com/view/group/main/main/id/00014785.html"><img src="static/images/icon.png"style="height:180px;"></a>
     <p>"Every 2mins someone in a hospital <br> is in need of blood in Kenya"</p>
    </div>
   <div class="col-md-4">
    <a href="https://www.nation.co.ke/health/The-story-of-Kenyas-blood-bank/3476990-4606982-kxlg19/index.html"><img src="static/images/dd1.png" style="height:180px;"></a>
    <p>"Spare only 15mins save life"</p>
   </div>
   <div class="col-md-4">
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5303061/"><img src="static/images/iconny.png" style="height:180px;"></a>
    <p>"A single pint can save three lives, <br>a single gesture can create a million smiles"</p>
   </div>

  </div>
</div>

<div class="container-fluid" id="comp">
<div class="row" style="margin-top:100px;">
<div class="col-md-6">
  <h1 style="font-family: 'Bree Serif', serif;">Be the One That saves Lives by creating awarness Together with CBlood</h1>
  <button class="btn btn-lg btn-danger">Share this information</button>
</div>

<div class="col-md-6">
<img src="static/images/exact.jpg" style=" border-radius: 50%;">
</div>

</div>
</div>
<div class="container-fluid" id="contact">
<div class="row">
<div class="col-md-4">
<h3>Questions???Contact Us</h3>
<h4>HEAD OFFICE</h4>
<p>Located at National Public Health Laboratories Service(NPHLS)</p>
<p>Grouns In Kenyatta National Hospital</p>
<p>P.O Box 29804-00202,</p>
<p>Nairobi,Kenya</p>
</div>
<div class="col-md-4">
  <p></p>
  <h4>Nairobi RBTC</h4>
  <p>Located at National Public Health Laboratories Service(NPHLS)</p>
  <p>Grouns In Kenyatta National Hospital</p>
  <p>Telephone: 0716773904</p>
  <p>Email: nairobirbtc@nbtskenya.or.ke</p>
</div>

<div class="col-md-4">
<h4>CBLOOD Nairobi</h4>
  <p>Telephone:0713787851</p>
  <p>Email:cbloodmc10@gmail.com</p>
  <ul class="social-network social-circle">
      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</div>
</div>
</div>
<script>
window.alert = function() {};
var defaultCSS = document.getElementById('bootstrap-css');

function changeCSS(css) {
  if (css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="' + css + '" type="text/css" />');
  else $('head > link').filter(':first').replaceWith(defaultCSS);
}
$(document).ready(function() {
  var iframe_height = parseInt($('html').height());
  window.parent.postMessage(iframe_height, 'http://bootsnipp.com');
});

</script>
{% endblock %}
