{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% if user.is_authenticated and user.is_donor%}

<div class="container">
    <h1>donation drive info</h1>
        {% for drive in drives %}
<p>Location :  <span>{{drive.location}}</span></p>
<p>Start :  <span>{{drive.starts_at}}</span></p>
<p>End  :  <span>{{drive.ends_at}}</span></p>
    {% endfor %}
</div>
<div class="container">
    <h1>profile info</h1>
        {% for profile in profiles %}
        {{profile.user.username}}
        {{profile.user.gender}}
        {{profile.user.blood_type}}
    {% endfor %}
</div>

{% elif user.is_authenticated and user.is_bbank %}
<div class="container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-5">
        <br><br>
        {% for profile in profiles %}
        <br>
        <h1 class="text-center"><strong>{{profile.user.username}}</strong></h1>
        <hr>
        <h3 class="text-center">{{profile.user.location}}</h3>
        <br><br><br>
        <div class="animated bounce faster" id="bankpost"><a href="{% url 'donation' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">POST DRIVE LOCATION</a></div>
        {% endfor %}
        <br>
         
    </div>
    <div class="col-md-4"></div>
    </div>

        

</div>


    {% endif %}

{% endblock %}
