{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="contain">
          <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
        <div id="id01" class="modal">
       <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <h2 class="sign">Sign up</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p class="in">
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="display: none">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <div class="clearfix">
       <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
       <button type="submit" class="signupbtn">Sign Up</button>
     </div>

            </form>
        </div>

    </div>
    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
{% endblock %}
