{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <div class="container reg-cen">
        <div class="row">
            <!-- Empty div -->
            <div class="col-md-4"></div>
            <div class="col-md-4">
                
                <div class="container">
                    <h1 class="text-center my-font" style="color:white;"><strong>SIGN IN</strong></h1>
                    <hr>

                    <form  action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-dark btn-md" value="LOG IN">
                        </div>

                        <input type="hidden" name="next" value="{% url 'index' %}">
                    </form>
                </div>

                <br>
                
                <div class="container">
                    <br>
                    <h4 class="text-center" style="color:white;"><strong> Don't have an account ?  </strong></h4>
                    <hr>
                    <div class="container-fluid">
                    {% comment %} <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><a class=""href="{%url 'donor-signup' %}">Donor</a></button> 
                    | <a href="{% url 'bank-signup' %}"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Blood Bank</button></a> {% endcomment %}
                    <a class="btn btn-dark" href="{%url 'donor-signup' %}"> DONOR</a>
                    <a class="btn btn-dark" href="{%url 'bank-signup' %}"> BLOOD BANK</a>


                    </div>
                    <br>
                </div>

            </div>
            <!-- empty div -->
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
